@import url(./styles/dracula.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'MonoLisaRegular';
	src: url('/MonoLisa-Regular.woff2') format('woff2'),
	    url('/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonoLisaBold';
    src: url('/MonoLisa-Bold.woff2') format('woff2'),
    url('/MonoLisa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}